@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<h1 id="demo" onmouseover="mouseOver()" onmouseout="mouseOut()">Mouse over me</h1>

<script>
function mouseOver() {
    document.getElementById("demo").style.fontSize="100";
}

function mouseOut() {
    document.getElementById("demo").style.color = "black";
}
</script>




<style>
    a:hover {
        background-color: yellow;
    }
</style>




<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>



<div class="tilt pic">
    <img src="~/images/Korica za youtube.jpg" alt="Mountain View" style="width:304px;height:228px;">
</div>




